<app-center-view>
  <app-border>
    <div class="flex flex-col gap-4 text-xl p-4">
      <a routerLink="/template-driven_bi-directional" class="cursor-pointer">Template Driven Form - Bi-directional Binding</a>
      <a routerLink="/template-driven_uni-directional" class="cursor-pointer">Template Driven Form - Uni-directional Binding</a>
      <a routerLink="/template-driven_no-binding" class="cursor-pointer">Template Driven Form - No Binding</a>
    </div>
    <div class="flex flex-col gap-4 text-xl p-4">
      <a routerLink="/reactive_simple" class="cursor-pointer">Reactive Form</a>
      <a routerLink="/reactive_observed" class="cursor-pointer">Reactive Form - Why is it called Reactive?</a>
      <a routerLink="/reactive_updating" class="cursor-pointer">Reactive Form - Updating Form Values</a>
      <a routerLink="/reactive_nested" class="cursor-pointer">Reactive Form - Nested Forms</a>
    </div>
  </app-border>
</app-center-view>
